# Dependencias para el Proyecto de Reconocimiento de Enfermedades en Papa

# Framework de Deep Learning
tensorflow==2.15.0

# Descarga de modelos desde Google Drive
gdown

# Aplicación Web
streamlit

# Procesamiento de Imágenes
Pillow

# Computación Numérica
numpy==1.26.4

# Visualización de Datos
matplotlib
seaborn

# Procesamiento de datos
pandas
scikit-learn

# Dependencias adicionales para TensorFlow
protobuf==4.23.4